body {
    margin:0;
}

section {
    background-color: tomato;
    height: 16.66vh;
}

.flex {
    display: flex;
}

.E {
    border: 1px solid rgba(0,0,0,1);
    border-bottom: none;
}

section, div {
    width: 100%;
}